<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <link rel="icon" href="/cara2/assets/images/author-image.avif" type="image/x-icon">
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link
  href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
  rel="stylesheet"
  />

  <title>Web Dev</title>
<!--
Reflux Template
https://templatemo.com/tm-531-reflux
  -->
  <!-- Bootstrap core CSS -->
  <link href="/cara2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="/cara2/assets/css/fontawesome.css" />
  <link rel="stylesheet" href="/cara2/assets/css/templatemo-style.css" />
  <link rel="stylesheet" href="/cara2/assets/css/owl.css" />
  <link rel="stylesheet" href="/cara2/assets/css/lightbox.css" />
  <link rel="stylesheet" href="/cara2/assets/css/responsive.css">
  <script src='/cara2/assets/js/alertConfig.js'></script>
</head>

<body>
  <div id="page-wraper">
    <!-- Sidebar Menu -->
    <div class="responsive-nav">
      <i class="fa fa-bars" id="menu-toggle"></i>
      <div id="menu" class="menu">
        <i class="fa fa-times" id="menu-close"></i>
        <div class="container">
          <div class="image">
            <a href="#"><img class="lazy" data-src="/cara2/assets/images/author-image.avif" alt="" /></a>
          </div>
          <div class="author-content">
            <h4>WEBDEV</h4>
            <span>INNOVATIONS</span>
          </div>
          <nav class="main-nav" role="navigation">
            <ul class="main-menu">
              <li><a href="#section1">Sobre Nosotros</a></li>
              <li><a href="#section2">Valores</a></li>
              <li><a href="#section3">Objetivos</a></li>
              <li><a href="#section4">Equipo</a></li>
            </ul>
          </nav>
          <div class="social-network">
            <ul class="soial-icons">
              <li>
                <a href="https://www.facebook.com/randyjhon7777"
                ><i class="fa fa-facebook"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-dribbble"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-rss"></i></a>
              </li>
            </ul>
          </div>
          <div class="copyright-text">
            <p>Copyright 2025 derechos reservados</p>
          </div>
        </div>
      </div>
    </div>

    <section class="section about-me" data-section="section1">
      <div class="container">
        <div class="section-heading">
          <h2 class="sobreNosotros">Sobre Nosotros</h2>
          <div class="line-dec"></div>
          <span
          > En WebDev Innovations, aspiramos a ser líderes globales en la revolución de la educación a través de tecnologías innovadoras.</span
          >
        </div>
        <div class="left-image-post">
          <div class="row">
            <div class="col-md-6">
              <div class="left-image">
                <img class="lazy" data-src="/cara2/assets/images/004.avif" alt="" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="right-text">
                <h4>Misión</h4>
                <p>
                  En WebDev Innovations, estamos comprometidos con la transformación del panorama educativo a través de soluciones web innovadoras. Nuestra misión es empoderar a comunidades educativas globales mediante el desarrollo de aplicaciones y herramientas diseñadas específicamente para la tele-educación.

                </p>
                <div class="white-button">
                  <a href="#">Ver mas</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right-image-post">
          <div class="row">
            <div class="col-md-6">
              <div class="left-text">
                <h4>Visión</h4>
                <p>
                 En WebDev Innovations, aspiramos a ser líderes globales en la revolución de la educación a través de tecnologías innovadoras. Nuestra visión es un mundo donde el aprendizaje no tenga límites, donde cada persona, sin importar su ubicación o circunstancias, tenga acceso a herramientas educativas de alta calidad que faciliten el crecimiento personal y profesional.
               </p>
               <div class="white-button">
                <a href="#">Ver más</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img class="lazy" data-src="/cara2/assets/images/005.avif" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section my-services" data-section="section2">
    <div class="container">
      <div class="section-heading">
        <h2>Valores</h2>
        <div class="line-dec"></div>
        <span
        >Nuestro objetivo es establecer nuevos estándares en la tele-educación, desarrollando soluciones que sean accesibles, intuitivas y efectivas, transformando la manera en que el mundo aprende y enseña.
        </span
        >
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="service-item">
            <div class="first-service-icon service-icon"></div>
            <h4>Innovación:</h4>
            <p>
             Nos comprometemos a mantenernos a la vanguardia de la tecnología, desarrollando soluciones creativas y avanzadas que transformen la educación y faciliten el aprendizaje a distancia.

           </p>
         </div>
       </div>
       <div class="col-md-6">
        <div class="service-item">
          <div class="second-service-icon service-icon"></div>
          <h4>Excelencia:</h4>
          <p>
            Buscamos la excelencia en todo lo que hacemos, desde el desarrollo de productos hasta el servicio al cliente, para garantizar la máxima calidad y satisfacción de nuestros usuarios.

          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="service-item">
          <div class="third-service-icon service-icon"></div>
          <h4>Accesibilidad:</h4>
          <p>
           Creemos en la educación para todos. Nos esforzamos por crear herramientas y plataformas que sean accesibles y fáciles de usar.

         </p>
       </div>
     </div>
     <div class="col-md-6">
      <div class="service-item">
        <div class="fourth-service-icon service-icon"></div>
        <h4>Colaboración:</h4>
        <p>
          Fomentamos un entorno de trabajo colaborativo tanto dentro de nuestra empresa como con nuestros usuarios y socios.
        </p>
      </div>
    </div>
  </div>
</div>
</section>

<section class="section my-work" data-section="section3">
  <div class="container">

    <div class="section-heading">
      <h2>Objetivos:</h2>
      <div class="line-dec"></div>

      <p>Crear aplicaciones y herramientas web que revolucionen la educación a distancia, facilitando el aprendizaje interactivo y personalizado.
    </p>

    <section class="texto">

      <div>
        <p>Proporcionar plataformas educativas accesibles a nivel global, reduciendo las barreras geográficas y socioeconómicas para estudiantes y educadores.
        </p>
      </div>

      <div>
        <p>Implementar tecnologías avanzadas que mejoren la calidad de la enseñanza y el aprendizaje, adaptándose a las necesidades específicas de cada usuario.
        </p>
      </div>

      <div>
        <h2>Reseña Histórica:</h2>
        <p>WebDev Innovations fue fundada en noviembre de 2024 por cinco visionarios estudiantes de Ingeniería Informática de la Universidad Nacional Experimental Rómulo Gallegos. Unidos por una pasión compartida por la tecnología y la educación, estos jóvenes emprendedores se propusieron transformar el panorama educativo mediante el desarrollo de soluciones web innovadoras.
        </p>
      </div>


    </section>

  </div>

  <div class="row">
    <div class="isotope-wrapper">
      <form class="isotope-toolbar">
        <label
        ><input
        type="radio"
        data-type="*"
        checked=""
        name="isotope-filter"
        />
        <span>Todo</span></label
        >
        <label
        ><input
        type="radio"
        data-type="people"
        name="isotope-filter"
        />
        <span>Filtro 1</span></label
        >
        <label
        ><input
        type="radio"
        data-type="nature"
        name="isotope-filter"
        />
        <span>Filtro 2</span></label
        >
        <label
        ><input
        type="radio"
        data-type="animals"
        name="isotope-filter"
        />
        <span>Filtro 3</span></label
        >
      </form>
      <div class="isotope-box">
        <div class="isotope-item" data-type="nature">
          <figure class="snip1321">
            <img
            src="/cara2/assets/images/001.avif"
            alt="sq-sample26"
            />
            <figcaption>
              <a
              href="/cara2/assets/images/001.avif"
              data-lightbox="image-1"
              data-title="Caption"
              ><i class="fa fa-search"></i
              ></a>
              <h4>Programación Frontend</h4>
              <span>React.js</span>
            </figcaption>
          </figure>
        </div>

        <div class="isotope-item" data-type="people">
          <figure class="snip1321">
            <img
            src="/cara2/assets/images/n1.avif"
            alt="sq-sample26"
            />
            <figcaption>
              <a
              href="/cara2/assets/images/n1.avif"
              data-lightbox="image-1"
              data-title="Caption"
              ><i class="fa fa-search"></i
              ></a>
              <h4>Servidores Node</h4>
              <span>BACK-END/API REST</span>
            </figcaption>
          </figure>
        </div>

        <div class="isotope-item" data-type="animals">
          <figure class="snip1321">
            <img
            src="/cara2/assets/images/chicaP.avif"
            alt="sq-sample26"
            />
            <figcaption>
              <a
              href="/cara2/assets/images/chicaP.avif"
              data-lightbox="image-1"
              data-title="Caption"
              ><i class="fa fa-search"></i
              ></a>
              <h4>Ayuda y soporte</h4>
              <span>Atención 24/07</span>
            </figcaption>
          </figure>
        </div>

        <div class="isotope-item" data-type="people">
          <figure class="snip1321">
            <img
            src="/cara2/assets/images/n2.avif"
            alt="sq-sample26"
            />
            <figcaption>
              <a
              href="/cara2/assets/images/n2.avif"
              data-lightbox="image-1"
              data-title="Caption"
              ><i class="fa fa-search"></i
              ></a>
              <h4>Comunidad Presente</h4>
              <span>Comunidad DEVWEB</span>
            </figcaption>
          </figure>
        </div>

        <div class="isotope-item" data-type="nature">
          <figure class="snip1321">
            <img
            src="/cara2/assets/images/pc.avif"
            alt="sq-sample26"
            />
            <figcaption>
              <a
              href="/cara2/assets/images/pc.avif"
              data-lightbox="image-1"
              data-title="Caption"
              ><i class="fa fa-search"></i
              ></a>
              <h4>Pruebas Unitarias</h4>
              <span>Jasmin</span>
            </figcaption>
          </figure>
        </div>

        <div class="isotope-item" data-type="animals">
          <figure class="snip1321">
            <img
            src="/cara2/assets/images/n3.avif"
            alt="sq-sample26"
            />
            <figcaption>
              <a
              href="/cara2/assets/images/n3.avif"
              data-lightbox="image-1"
              data-title="Caption"
              ><i class="fa fa-search"></i
              ></a>
              <h4>Diseño Interfaces</h4>
              <span>Diseñador web</span>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section class="section contact-me" data-section="section4">
  <div class="container">

    <div class="section-heading">
      <h2 class="tipoEmpresa">¿Que tipo de empresa es?</h2>
      <div class="line-dec"></div>
      <p>
      WebDev Innovations es una empresa mercantil, dedicada a actividades comerciales con el objetivo de obtener beneficios económicos a través de la venta de sus productos y servicios. En este caso, la empresa se especializa en el desarrollo y comercialización de soluciones web para la tele-educación.
      </p>

      <div>
        <h2 class="equipoH2">Equipo</h2>
        <div class="containerParticipantes">
           
          <section>
          <img class="lazy" data-src="/cara2/assets/participantes/randy.avif" alt="foto del gerente">
          <h5>Randis Graterol</h5>
          <p>GERENTE</p>
         </section>

         <section>
          <img class="lazy" data-src="/cara2/assets/participantes/jesus.avif" alt="foto del gerente">
          <h5>Jesus Acosta</h5>
          <p>DIRECTOR</p>
         </section>

         <section>
          <img class="lazy" data-src="/cara2/assets/participantes/nicolas.avif" alt="foto del gerente">
          <h5>Nicolas Calderin</h5>
          <p>DIRECTOR</p>
         </section>

         <section>
          <img class="lazy" data-src="/cara2/assets/participantes/nicolas.avif" alt="foto del gerente">
          <h5>Jose</h5>
          <p>DIRECTOR</p>
         </section>

        </div>
      </div>

    </div>

    <div class="row">
      <div class="right-content">
        <div class="container">
          <form id="contact">
            <div class="row">
              <div class="col-md-6">
                <fieldset>
                  <input
                  name="name"
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="Ingresa tu nombre"
                  required=""
                  />
                </fieldset>
              </div>
              <div class="col-md-6">
                <fieldset>
                  <input
                  name="email"
                  type="text"
                  class="form-control"
                  id="email"
                  placeholder="Ingresa tu correo"
                  required=""
                  />
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <input
                  name="subject"
                  type="text"
                  class="form-control"
                  id="subject"
                  placeholder="Ingresa asunto"
                  required=""
                  />
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <textarea
                  name="message"
                  rows="6"
                  class="form-control"
                  id="message"
                  placeholder="Ingresa mensaje"
                  required=""
                  ></textarea>
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="button">
                    Enviar Mensaje
                  </button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
</div>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src='/cara2/assets/js/lazyLoading.js'></script>
<script src="/cara2/vendor/jquery/jquery.min.js"></script>
<script src="/cara2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/cara2/assets/js/isotope.min.js"></script>
<script src="/cara2/assets/js/owl-carousel.js"></script>
<script src="/cara2/assets/js/lightbox.js"></script>
<script src="/cara2/assets/js/custom.js"></script>
<script src='/cara2/assets/js/formContacto.js'></script>
<script>
      //according to loftblog tut
  $(".main-menu li:first").addClass("active");

  var showSection = function showSection(section, isAnimate) {
    var direction = section.replace(/#/, ""),
    reqSection = $(".section").filter(
      '[data-section="' + direction + '"]'
      ),
    reqSectionPos = reqSection.offset().top - 0;

    if (isAnimate) {
      $("body, html").animate(
      {
        scrollTop: reqSectionPos
      },
      800
      );
    } else {
      $("body, html").scrollTop(reqSectionPos);
    }
  };

  var checkSection = function checkSection() {
    $(".section").each(function() {
      var $this = $(this),
      topEdge = $this.offset().top - 80,
      bottomEdge = topEdge + $this.height(),
      wScroll = $(window).scrollTop();
      if (topEdge < wScroll && bottomEdge > wScroll) {
        var currentId = $this.data("section"),
        reqLink = $("a").filter("[href*=\\#" + currentId + "]");
        reqLink
        .closest("li")
        .addClass("active")
        .siblings()
        .removeClass("active");
      }
    });
  };

  $(".main-menu").on("click", "a", function(e) {
    e.preventDefault();
    showSection($(this).attr("href"), true);
  });

  $(window).scroll(function() {
    checkSection();
  });
</script>
</body>
</html>
